.main_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

button {
    color: white;
    border-color: white;
    background-color: #72D0EA;
    border-radius: 4px;
    margin: 12px 0;
    padding: 4px 12px;
}

.user_block {
    width: 50%;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background-color: #72D0EA;
    color: white;

    font-size: 14pt;

    border-radius: 0 40px 0 40px;
    border: white solid 20px;
}

.user_block > p {
    margin: 0;
}

.user_info_block {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background-color: #72D0EA;
    color: white;
    font-size: 14pt;

    border-radius: 0 20px 0 20px;
    margin: 40px;
    padding: 20px;
}

.wide_button {
    width: 90%;
    height: 60px;

    font-size: 12pt;
}

.post_block {
    width: 20%;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background-color: white;

    font-size: 11pt;
    text-align: center;

    border-radius: 28px;
    border: #72D0EA solid 20px;

    padding: 12px 0;
}

.post_block > a {
    color: #72D0EA;
}

.comment_block {
    width: 25%;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background-color: white;
    color: #72D0EA;
    font-size: 11pt;

    border-radius: 36px 36px 36px 0;
    border: #72D0EA solid 20px;
    padding: 8px;
}
